body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f6fa;
    color: #333;
  }
  
  header {
    background-color: #055b90;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  section {
    background-color: #9fc7b6;
    color: #0a0909;
    font-size: 1.25em;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    
  }
  